.prompt-btn {
  display: block;
  width: 100%;
  border: 1px solid #f0f8ff;
  border-radius: 10px;
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
}
