@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Play:wght@400;700&display=swap");

section ul {
  list-style: none;
}

.first {
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
}

.btn-all {
  display: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

section ul li:hover {
  background-color: buttonFace;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

.create {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.5rem 1rem;
  border: 3px dashed #310062;
  border-radius: 6px;
  height: 100%;
  margin: 2rem 2rem;
}

.active {
  border: 3px dashed #310062;
  border-radius: 6px;
  height: 100%;
  margin: 2rem 2rem;
  overflow-y: auto;
}

.archive {
  border: 3px dashed #310062;
  border-radius: 6px;
  height: 100%;
  margin: 2rem 2rem;
  overflow-y: auto;
}

textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 34px;
}

.foo {
  font-size: 16px;
  font-family: "Play", sans-serif;
}

/* Smartphones */
@media screen and (max-width: 700px) {
  .btn-all {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .modal-actions {
    display: flex;
  }

  .create,
  .active,
  .archive {
    margin: 1rem 2rem;
  }

  .prompt-btn {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  main {
    flex-direction: column-reverse;
    gap: 5px;
  }

  .tabs-btn {
    display: flex;
    margin: 1rem 1rem;
    background-color: #f0f8ff;
  }

  header {
    width: 100%;
  }

  .first {
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
  }
}

/* Monitor >= 1200 */

@media screen and (min-width: 1200px) {
  .archive,
  .active,
  .create {
    width: 30vw;
  }

  .btn-all {
    display: inline;
    margin-left: 0.5rem;
  }

  .btn-act,
  .btn-arc {
    display: none;
  }
}
